body{
    background-color: rgb(5, 82, 82);
    margin: 0;
}

.topo{

    
    width: 70vw ;
    min-height: 200px;
    max-height: 500px;
    margin: 10px 250px;
    text-align: center;
    border: solid black 40px;
    color: beige;
    h1{
        margin: 80px 0px ;
        }
}

.sobre{
    width: 70vw ;
    text-align: center;
    margin: 10px 250px;
    color: aliceblue;
    font-size: 22px;
    line-height: 50px;
    
    p{
        color: rgb(29, 156, 25);
        padding: 0 400px;
    }

    span{
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    img{
        width: 50vw;
    }

}

.imagem{
    width: 90vw;
    height: 400px;
    margin: 0 100px;
    background-image: url(img/sitio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}



.participantes{
    background-color: aliceblue;
    width: 70vw;
    max-width: 600px;
    margin: 10px 600px;
    font-size: 22px;
    padding: 30px;

    ol{
        margin: 0 200px;
    }
    
}





.localizacao{
    width: 70vw;
   #mapa{
    
    width: 70vw;
    min-height: 200px;
    max-height: 400px;
    margin: 10px 250px;
   } 
}