body {
    background-color: rgb(5, 82, 82);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ---------- TOPO ---------- */

.topo {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    border: solid black 10px;
    color: beige;
    padding: 30px 10px;
}

/* ---------- SOBRE ---------- */

.sobre {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    line-height: 32px;
}

.sobre p {
    color: rgb(29, 156, 25);
    padding: 0 20px;
}

.sobre span {
    color: black;
    font-weight: bold;
}

/* ---------- IMAGEM ---------- */

.imagem {
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 20px auto;
    background-image: url("img/sitio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* ---------- LISTA ---------- */

.participantes {
    background-color: aliceblue;
    width: 70%;
    max-width: 500px;
    height: 200px;
    margin: 20px auto;
    font-size: 20px;
    padding: 20px;
    border-radius: 25px;
    overflow:auto;
    
}

.participantes ol {
    padding-left: 30px;

    li{
        display: inline-block;
        margin: 10px;
        border: dashed  rgb(0, 0, 0);
        border-radius: 10px;
        background-color: brown;
        padding: 10px;
    }
}

/* ---------- MAPA ---------- */

.localizacao {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.localizacao iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}

/* ---------- MOBILE RULES ---------- */

@media (max-width: 600px) {
    .topo {
        font-size: 18px;
        padding: 20px;
        border-width: 6px;
    }

    .sobre {
        font-size: 18px;
        line-height: 28px;
    }

    .imagem {
        height: 200px;
    }

    .participantes {
        font-size: 18px;
    }

    .localizacao iframe {
        height: 250px;
    }
}
